In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split

### Алгоритм KNN

In [2]:
def knn_distances(xTrain,xTest,k):
    #Евклидово расстояние
    distances = -2 * xTrain@xTest.T + np.sum(xTest**2,axis=1) + np.sum(xTrain**2,axis=1)[:, np.newaxis]
    #Заменяем отрицательные числа на 0
    distances[distances < 0] = 0
    distances = distances**.5
    indices = np.argsort(distances, 0) #получаем индексы
    distances = np.sort(distances,0) #отсортированные расстояния
    #возвращаем k ближайших соседей
    return indices[0:k,:], distances[0:k,:]


def knn_predictions(xTrain,yTrain,xTest,k=3):
    indices, distances = knn_distances(xTrain,xTest,k)
    yTrain = yTrain.flatten()
    rows, columns = indices.shape
    predictions = list()
    for j in range(columns):
        temp = list()
        for i in range(rows):
            cell = indices[i][j]
            temp.append(yTrain[cell])
        predictions.append(max(temp,key=temp.count))
    predictions=np.array(predictions)
    return predictions

def knn_accuracy(yTest,predictions):
    x=yTest.flatten()==predictions.flatten()
    grade=np.mean(x)
    return np.round(grade*100,2)

### Подготовка данных

In [3]:
def transform_data(data):
    data['Пол'] = data['Пол'].replace(pol)
    data['Кто_ты'] = data['Кто_ты'].replace(who_are_you)
    data['Дом_далеко'] = data['Дом_далеко'].replace(dom)
    data['Характер'] = data['Характер'].replace(haracter)
    data['Работаете'] = data['Работаете'].replace(work)
    data['Доход'] = data['Доход'].replace(dohod)

In [4]:
data=pd.read_excel('data.xlsx')

In [5]:
data

,Возраст,Пол,Кто_ты,Подъем,Дом_далеко,Характер,Работаете,Доход,Присутствие
0,22,ж,Сова,8.0,Да,Интроверт,Да,Доволен,Да
1,21,м,Сова,9.0,Нет,Интроверт,Да,Недоволен,Нет
2,22,м,Сова,10.0,Да,Интроверт,Нет,Недоволен,Да
3,22,м,Сова,9.0,Да,Экстраверт,Да,Доволен,Нет
4,21,ж,Сова,11.0,Да,Интроверт,Да,Доволен,Да
5,21,м,Сова,10.0,Нет,Интроверт,Да,Доволен,Нет
6,22,м,Сова,6.0,Да,Экстраверт,Да,Недоволен,Нет
7,22,м,Сова,9.0,Да,Интроверт,Нет,Недоволен,Да
8,22,м,Сова,11.0,Да,Интроверт,Да,Доволен,Нет
9,21,м,Жаворонок,7.5,Да,Экстраверт,Да,Недоволен,Нет
10,22,м,Сова,8.5,Да,Экстраверт,Да,Доволен,Да
11,22,м,Жаворонок,6.0,Да,Интроверт,Да,Доволен,Нет

In [6]:
pol={'м':1, "ж":0}
who_are_you={'Сова':0, 'Жаворонок':1}
dom={'Да':0, "Нет":1}
haracter={'Интроверт':1, "Экстраверт":0}
work={'Да':1, "Нет":0}
dohod={'Доволен':1, "Недоволен":0}
poseshenie={'Да':1, "Нет":0}

In [7]:
transform_data(data)
data['Присутствие'] = data['Присутствие'].replace(poseshenie)

In [8]:
data

,Возраст,Пол,Кто_ты,Подъем,Дом_далеко,Характер,Работаете,Доход,Присутствие
0,22,0,0,8.0,0,1,1,1,1
1,21,1,0,9.0,1,1,1,0,0
2,22,1,0,10.0,0,1,0,0,1
3,22,1,0,9.0,0,0,1,1,0
4,21,0,0,11.0,0,1,1,1,1
5,21,1,0,10.0,1,1,1,1,0
6,22,1,0,6.0,0,0,1,0,0
7,22,1,0,9.0,0,1,0,0,1
8,22,1,0,11.0,0,1,1,1,0
9,21,1,1,7.5,0,0,1,0,0
10,22,1,0,8.5,0,0,1,1,1
11,22,1,1,6.0,0,1,1,1,0

In [26]:
xTrain, xTest = train_test_split(data, test_size=0.25)
yTrain = np.array(xTrain.iloc[:,7])
xTrain = np.array(xTrain.iloc[:,0:7])
yTest = np.array(xTest.iloc[:,7])
xTest = np.array(xTest.iloc[:,0:7])
xTest

array([[22.,  0.,  0.,  8.,  0.,  1.,  1.],
       [22.,  1.,  1.,  6.,  0.,  1.,  1.],
       [22.,  1.,  0., 10.,  0.,  1.,  0.]])

### Обучение

In [27]:
predictions = knn_predictions(xTrain, yTrain, xTest,2)
predictions

array([1, 0, 0], dtype=int64)

In [28]:
print('Accuracy:',knn_accuracy(predictions,yTest),'%')

Accuracy: 66.67 %

### Предсказание

In [30]:
l=[]
for i in list(data.drop(columns='Присутствие')):
    n=input(f'Ответьте: {i} ')
    l.append(n)

Ответьте: Возраст 21
Ответьте: Пол ж
Ответьте: Кто_ты Сова
Ответьте: Подъем 11
Ответьте: Дом_далеко Да
Ответьте: Характер Интроверт
Ответьте: Работаете Да
Ответьте: Доход Доволен

In [31]:
data_test=pd.DataFrame(data=[l], columns=list(data.drop(columns='Присутствие')))
transform_data(data_test)
data_test = data_test.astype({'Возраст': np.int16})
data_test = data_test.astype({'Подъем': np.int16})

In [32]:
xpred = np.array(data_test.iloc[:,0:7])
xpred

array([[21,  0,  0, 11,  0,  1,  1]], dtype=int64)

In [33]:
prediction = knn_predictions(xTrain, yTrain, xpred,3)
print('Не пришел' if prediction[0]==0 else 'Пришел')

Пришел

### Подбор параметра

In [34]:
from sklearn.metrics import accuracy_score
from sklearn import metrics
import matplotlib.pyplot as plt

In [35]:
Ks = 15
mean_acc = np.zeros((Ks-1))
std_acc = np.zeros((Ks-1))
for n in range(1,Ks):
    yhat = knn_predictions(xTrain,yTrain,xTest,n)
    mean_acc[n-1] = metrics.accuracy_score(yTest, yhat)
    std_acc[n-1] = np.std(yhat==yTest)/np.sqrt(yhat.shape[0])

print( "Лучший результат:", np.round(mean_acc.max()*100,2),"%, k=", mean_acc.argmax()+1)

Лучший результат: 66.67 %, k= 1