In [2]:
import igraph as ig
import pandas as pd

In [3]:
graph=ig.Graph.Load('data_for_graph.txt')

In [4]:
graph.to_undirected()

In [6]:
graph_closeness=graph.closeness()

In [7]:
graph_betweenness=graph.betweenness()

In [8]:
graph_eigenvector=graph.eigenvector_centrality()

In [9]:
people=pd.read_csv('people.csv')
people=people.drop(columns=['Unnamed: 0'], axis=1)
people['closeness']=graph_closeness
people['betweenness']=graph_betweenness
people['eigenvector']=graph_eigenvector

In [10]:
people

,id,vk_id,ФИО,level,closeness,betweenness,eigenvector
0,0,181400458,Алексеева Екатерина,0,0.286414,2.216337e+08,0.289727
1,1,136004593,Бирюков Виктор,0,0.247950,7.206973e+07,0.000559
2,2,151143124,Васильев Даниил,0,0.308360,3.763212e+08,0.010033
3,3,248826936,Воронов Кирилл,0,0.277571,1.895729e+08,0.001574
4,4,172224066,Гребенков Дмитрий,0,0.251088,3.184934e+07,0.000554
...,...,...,...,...,...,...,...
97610,97610,642816502,Нет Нет,2,0.215632,4.854369e-03,0.000111
97611,97611,646582081,Mifi Don,2,0.215632,4.854369e-03,0.000111
97612,97612,703428141,Htet Min,2,0.215632,4.854369e-03,0.000111
97613,97613,754843363,Рей Армяне,2,0.215632,4.854369e-03,0.000111
97614,97614,807723348,Филатова Ася,2,0.215632,4.854369e-03,0.000111

In [11]:
#Центральность по близости
people[people['level']==0].sort_values(by='closeness', ascending=False)[['ФИО', 'closeness']]

                   ФИО  closeness
2      Васильев Даниил   0.308360
8        Уваров Андрей   0.303303
0  Алексеева Екатерина   0.286414
3       Воронов Кирилл   0.277571
7    Пивницкий Даниэль   0.270062
4    Гребенков Дмитрий   0.251088
9       Шубин Григорий   0.249791
1       Бирюков Виктор   0.247950
6       Новиков Никита   0.229791
5        Ляшун Дмитрий   0.228674

In [12]:
#Центральность по посредничеству
people[people['level']==0].sort_values(by='betweenness', ascending=False)[['ФИО', 'betweenness']]

                   ФИО   betweenness
2      Васильев Даниил  3.763212e+08
8        Уваров Андрей  2.582943e+08
0  Алексеева Екатерина  2.216337e+08
3       Воронов Кирилл  1.895729e+08
1       Бирюков Виктор  7.206973e+07
7    Пивницкий Даниэль  6.474338e+07
6       Новиков Никита  3.442443e+07
4    Гребенков Дмитрий  3.184934e+07
9       Шубин Григорий  1.344226e+05
5        Ляшун Дмитрий  1.140182e+05

In [13]:
#Центральность по собственному значению
people[people['level']==0].sort_values(by='eigenvector', ascending=False)[['ФИО', 'eigenvector']]

                   ФИО  eigenvector
0  Алексеева Екатерина     0.289727
6       Новиков Никита     0.010519
2      Васильев Даниил     0.010033
8        Уваров Андрей     0.007296
7    Пивницкий Даниэль     0.003470
3       Воронов Кирилл     0.001574
9       Шубин Григорий     0.001485
1       Бирюков Виктор     0.000559
4    Гребенков Дмитрий     0.000554
5        Ляшун Дмитрий     0.000121